{
  "plugins": ["lodash", "html"],
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "rules" : {
    "func-names": 0,
    "space-before-function-paren": 0,
    "max-len": 0,
    "vars-on-top": 0,
    "global-require": 0,
    "object-curly-spacing": 0,
    "array-callback-return": 0,
    "no-param-reassign": 0,
    "no-new-func": 0,
    "indent": ["error", 2, {"SwitchCase": 1}],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "semi": ["error", "never"],
    "import/extensions": ["error", "never", { "svg": "always", "vue": "always", "css": "always" }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-underscore-dangle": ["error", { "allow": ["__INITIAL_STATE__", "_uid"] }],
    "arrow-body-style": ["error", "as-needed"]
  },
  "globals":{
    "artifacts": true,
    "web3": true,
    "contract": true,
    "before": true,
    "it": true,
    "assert": true
  },
  "env": { "es6": true }
}
